<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jihoonyoon.customtimer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/timer"
        android:label="마이 타이머"
        android:roundIcon="@drawable/timer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9869278582663558~6301343680"/>

        <activity android:name=".Setting.SoundActivity"></activity>
        <activity android:name=".Setting.ThemeActivity" />
        <activity android:name=".Setting.QuestionActivity" />
        <activity android:name=".Setting.CancelActivity" />
        <activity android:name=".Timer.TimerActivity" />
        <activity
            android:name=".MainActivity"
            android:label="마이 타이머"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>